#navbar{
    background-color: #C4DFDF;
}
#hero{
        background-image: linear-gradient(to bottom right, #C4DFDF, #FDCEDF);
}
#aboutme{
    background-color: #E3F4F4;
}
a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
.contact{
    background-color: #C4DFDF ;
}
body{
    background-color: #FAF3F0;
}
.btn-chart{
    background-color: #FDCEDF;
}
button{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border: none;
    background: none;
    font-size: large;
}
.btn-hour{
    background-color: #C4DFDF;
}
.text{
    padding: 3%;
    display: flex;
    flex-direction: column;
}
.paragraph{
    background-color: #C4DFDF;
    padding: 10px;
    border-radius: 10px;
}
.card-img-top{
    object-fit: cover;
}
.body-webdev{
    font-family: 'Roboto', sans-serif!important ;
    background-color:  #C4DFDF;
    overflow-x: hidden;
}
.body-webdev>section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh;
    font-size: 2vh;
}
.body-webdev>section>h1{
    font-size: 5vh;
    font-variant: small-caps;
}
.purple{
    background-color: #FDCEDF;    
    text-align: center;
    font-family: 'Young Serif', serif;
}
.purple>p{
    font-size: 7vh;
}
.yellow{
    background-color: #F8F6F4;
    font-family: serif;    
}
.yellow>p{
    font-size: 7vh;
    font-family: 'Young Serif', serif;
}
.green{
    background-color: #C4DFDF;
    font-family: 'Young Serif', serif;
}
.green>p{
    font-size: 7vh;
    font-family: 'Yeseva One', serif;    
}
.body-light{
    background-color:#F8F8F8;
}
.spacer1{
        aspect-ratio: 10/1;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

}
.layer1{
    background-image: url('./images/layered-waves-haikei.svg');
}
.layer2{
    background-image: url('./images/stacked-peaks-haikei.svg');
}
.layer3{
    background-image: url('./images/layered-peaks-haikei.svg');
}
.big-welcome{
    font-size: 10vh;
    font-family: 'Yeseva One', serif;
}
.profile-pic{
    border-radius: 50%;
    background-color: #FAF3F0;
}
#welcome>blockquote{
    font-family: 'Young Serif', serif;
}
#welcome{
    background-image: linear-gradient(to top, #C4DFDF, #b0d1ec);
    padding-top: 50px;
    padding-bottom: 50px;
}
.what-i-can-do{
    font-style: serif;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 2s;
}
.show{
    opacity: 1;
    filter: blur(0);
}